<a href="https://colab.research.google.com/github/kjxeez/3D-Crystal/blob/main/sales_funnel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip3 install psycopg2-binary

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.9/dist-packages (2.9.5)

In [17]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [18]:
import psycopg2
import pandas as pd

In [23]:
from sqlalchemy import create_engine
engine = create_engine(
    "postgresql://student:JvLda93aA@158.160.52.106:5432/postgres",
)
pd.read_sql(
    "SELECT date(visit_dttm), count(distinct client_rk) FROM msu_analytics.client GROUP BY DATE(visit_dttm)",
    engine,
).head()

         date  count
0  2023-01-22     31
1  2023-01-06     36
2  2022-10-02     34
3  2022-10-18     30
4  2022-09-16     16

In [26]:

pd.read_sql(
    "SELECT date(registration_dttm), count(distinct account_rk) FROM msu_analytics.account GROUP BY DATE(registration_dttm)",
    engine,
).head()
#регается

         date  count
0  2022-09-13      6
1  2022-09-29      5
2  2022-10-15      5
3  2022-10-31      6
4  2022-11-16      6

In [27]:
pd.read_sql(
    "SELECT date(application_dttm), count(distinct application_rk) FROM msu_analytics.application GROUP BY DATE(application_dttm)",
    engine,
).head()
#заявка

         date  count
0  2023-01-15      4
1  2022-12-14      4
2  2022-10-11      3
3  2022-12-30      4
4  2022-11-28      4

In [29]:
pd.read_sql(
    "SELECT date(game_dttm), count(distinct game_rk) FROM msu_analytics.game WHERE game_flg = 1 GROUP BY DATE(game_dttm)",
    engine,
).head()
#приходит

         date  count
0  2022-09-25      1
1  2022-10-27      1
2  2022-11-12      2
3  2022-11-28      2
4  2022-12-14      2